/* TODO: Cleanup etc. */

:root {
    --text-color: white;
    --background-color: #414040;
    --hover-background-color: #555;
    --outer-border-color: white;
    --inner-border-color: gray;
    --shadow-color: #555;
}

* {
    font-family: sans-serif;
    font-size: clamp(1rem, 1.3rem, 6rem);
}

body {
    background: var(--background-color);
    color: var(--text-color);

}

main, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border: 0.25rem solid var(--outer-border-color);
    border-spacing: 0;
    border-radius: 1rem;
}

/* Cells on the left */
th {
    border-left: none !important; /* Remove outer border */
}

/* Cells on the right */
td {
    border-right: none !important; /* Remove outer border */
}

th, td {
    text-align: left;
    border: 0.1rem solid var(--inner-border-color);
    padding: 0.75rem;
}

input[type="button"],[type="file"] {
    display: none;
    border: none;
    outline: none;
    width: 0;
    height: 0;
}

a[class="button"] {
    color: var(--text-color);
    text-decoration: none;
}

.container[data-variant="prefilepick"] {
    display: flex;
}

.container[data-variant="postfilepick"] {
    display: none;
}

.button {
    margin: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: 0.15rem solid var(--inner-border-color);
    box-shadow: 0.1rem 0.1rem 0.1rem var(--shadow-color);
}

.button:hover {
    background-color: var(--hover-background-color);
    cursor: pointer;
}

.topRow > :is(th, td) {
    border-top: none !important; /* Remove outer border */
}

.bottomRow > :is(th, td) {
    border-bottom: none !important; /* Remove outer border */
}

#centerContainer {
    width: clamp(30rem, 40vw, 70vw);
}

#dropContainer {
    width: clamp(15rem, 70%, 70%);
}

#dropTarget {
    display: flex;
    width: 100%;
    height: clamp(10rem, 13rem, 20rem);
    border: 0.2rem dashed var(--outer-border-color);
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--inner-border-color);
    align-items: center;
    justify-content: center;
}

#dropTarget.dragover {
    background-color: var(--hover-background-color);
    border-style: solid;
}

#imgContainer {
    margin: 1rem auto
}

#outputImage {
    border: 0.2rem solid var(--outer-border-color);
    border-radius: 1rem;
    width: clamp(6rem, 100%, 80%);
    image-rendering: pixelated;
}

#bottomContainer {
    flex-direction: row;
}