:root {
    --text-color: white;
    --background-color: #414040;
    --outer-border-color: white;
    --inner-border-color: gray;
}

* {
    font-family: sans-serif;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1rem, 1.3rem, 6rem);
}

img {
    padding: 0.75rem;
    border: 0.2rem solid var(--outer-border-color);
    border-radius: 1rem;
}

table {
    border: 0.25rem solid var(--outer-border-color);
    border-spacing: 0;
    border-radius: 1rem;
}

/* Cells on the left */
th {
    text-align: left;
    border-left: none !important; /* Remove outer border */
}

/* Cells on the right */
td {
    text-align: left;
    border-right: none !important; /* Remove outer border */
}

th, td {
    border: 0.1rem solid var(--inner-border-color);
    padding: 0.75rem;
}

.top-row > :is(th, td)  {
    border-top: none !important; /* Remove outer border */
}

.bottom-row > :is(th, td) {
    border-bottom: none !important; /* Remove outer border */
}

#center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(30rem, 40vw, 70vw);
}

#drop-container {
    display: flex;
    width: clamp(15rem, 70%, 70%);
    flex-direction: column;
    align-items: center;
}

#dropTarget {
    display: flex;
    width: 100%;
    height: clamp(10rem, 13rem, 20rem);
    border: 0.2rem dashed var(--outer-border-color);
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--inner-border-color);
    align-items: center;
    justify-content: center;
}

#dropTarget.dragover {
    background-color: #555;
    border-color: #333;
}

#inputChooser {
    border: none;
    outline: none;
    width: 0;
    height: 0;
}

#inputChooserLabel {
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: 0.15rem solid var(--inner-border-color);
    box-shadow: 0.1rem 0.1rem 0.1rem #555;
}

#inputChooserLabel:hover {
    background-color: #555;
    cursor: pointer;
}

#img-container {
    margin: 1rem auto;
}

#outputImage {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    width: clamp(6rem, 100%, 80%);
    image-rendering: pixelated;
}